---
layout: default
---
<style>
  .pagination {
    margin-bottom: 30px;
    display: table;
    margin: 0 auto;
  }
  .pagination li {
    float: left;
    margin: 5px 10px 5px 0;
    list-style-type: none;
  }
  .pagination li:last-of-type {
    margin-right: 0;
  }
  .pagination li a {
    display: block;
    padding: 30px/4;
    border: 1px solid #e8e8e8;
  }
  .pagination li a:hover {
    border-color: #dbdbdb;
  }
  .pagination li a, .pagination li div {
    min-width: 41px;
    text-align: center;
    box-sizing: border-box;
  }
  .pagination li div {
    display: block;
    padding: 30px/4;
    border: 1px solid transparent;
  }
  .pagination li div.pager-edge {
    color: #e8e8e8;
    border: 1px dashed;
  }
</style>
<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <h2>Record:</h2>
  <h3>Overall: {{ site.data.totals.win }} - {{ site.data.totals.loss }} - {{ site.data.totals.push }} ({{ site.data.totals.win_pct }})</h3>
  <h3>Parlays: {{ site.data.totals.parlay_win }} - {{ site.data.totals.parlay_loss }} - {{ site.data.totals.parlay_push }}</h3>
  <h3>Bet Back Parlays: {{ site.data.totals.betback_win }} - {{ site.data.totals.betback_loss }} - {{ site.data.totals.betback_push }}</h3>
  <h3>Units: {{ site.data.totals.account_units }} units ({{ site.data.totals.pending_units }} pending)</h3>
  <h3>Bank: {{ site.data.totals.bank }} units</h3>


  <h2>Pending:</h2>
  {%- for pending in site.data.totals.non_future_pending -%}
  <p>
  {{ pending.sport }} - {{ pending.description }} - {{ pending.units }} units ({{ pending.line }})
  </p>
  {%- endfor -%}
  <h2>Futures:</h2>
  {%- for future in site.data.totals.futures -%}
  <p>
  {{ future.sport }} - {{ future.description }} - {{ future.units }} units ({{ future.line }})
  </p>
  {%- endfor -%}

  <h2>Monthly Record:</h2>
  {%- for month_record in site.data.totals.monthly_mls reversed -%}
  <p>{{ month_record.month }}: {{ month_record.record}}</p>
  {%- endfor -%}

  <h2>Lastest Podcasts:</h2>
  <iframe src="https://www.podbean.com/media/player/multi?playlist=http%3A%2F%2Fplaylist.podbean.com%2F9155811%2Fplaylist_multi.xml&amp;vjs=1&amp;size=430&amp;skin=1&amp;episode_list_bg=%23ffffff&amp;bg_left=%23000000&amp;bg_mid=%230c5056&amp;bg_right=%232a1844&amp;podcast_title_color=%23c4c4c4&amp;episode_title_color=%23ffffff&amp;auto=0&amp;share=1&amp;fonts=Helvetica&amp;download=1&amp;rtl=0&amp;show_playlist_recent_number=10" title="The Daily Dutchbrew Podcast" width="100%" height="430" scrolling="no" style="border: none;"></iframe>
  <a href="https://podcasts.apple.com/us/podcast/the-daily-dutchbrew-podcast/id1523234110?itsct=podcast_box&amp;itscg=30200" style="display: inline-block; overflow: hidden; border-radius: 13px; width: 250px; height: 83px;"><img src="https://tools.applemediaservices.com/api/badges/listen-on-apple-podcasts/badge/en-US?size=250x83&amp;releaseDate=1609351500&h=df7e7f563c396481651ba47a76da6108" alt="Listen on Apple Podcasts" style="border-radius: 13px; width: 250px; height: 83px;"></a>

  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
    <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
        {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
    <div class="pager">
      <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
      </ul>
    </div>
    {%- endif %}

  {%- endif -%}

</div>
