---
layout: default
---
<style>
  .pagination {
    margin-bottom: 30px;
    display: table;
    margin: 0 auto;
  }
  .pagination li {
    float: left;
    margin: 5px 10px 5px 0;
    list-style-type: none;
  }
  .pagination li:last-of-type {
    margin-right: 0;
  }
  .pagination li a {
    display: block;
    padding: 30px/4;
    border: 1px solid #e8e8e8;
  }
  .pagination li a:hover {
    border-color: #dbdbdb;
  }
  .pagination li a, .pagination li div {
    min-width: 41px;
    text-align: center;
    box-sizing: border-box;
  }
  .pagination li div {
    display: block;
    padding: 30px/4;
    border: 1px solid transparent;
  }
  .pagination li div.pager-edge {
    color: #e8e8e8;
    border: 1px dashed;
  }
</style>
<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <h2>Record:</h2>
  <h3>Overall: {{ site.data.totals.win }} - {{ site.data.totals.loss }} - {{ site.data.totals.push }}</h3>
  <h3>Units: {{ site.data.totals.account_units }} units ({{ site.data.totals.pending_units }} pending)</h3>
  <h3>Bank: {{ site.data.totals.bank }} units</h3>

  <h2>Futures:</h2>
  {%- for future in site.data.totals.futures -%}
  <p>
    {{ future.sport }} - {{ future.description }} - {{ future.units }} units
  </p>
  {%- endfor -%}

  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

  <h2>Podcasts:</h2>

  <iframe src="https://embed.podcasts.apple.com/us/podcast/the-daily-dutchbrew-podcast/id1523234110?itsct=podcast_box&amp;itscg=30200" height="450px" frameborder="0" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation-by-user-activation" allow="autoplay *; encrypted-media *;" style="width: 100%; max-width: 660px; overflow: hidden; border-radius: 10px; background: transparent;"></iframe>
  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
    <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
        {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
    <div class="pager">
      <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
      </ul>
    </div>
    {%- endif %}

  {%- endif -%}

</div>
